<!-- <form [formGroup]="">
  <h1>ثبت سفارش</h1>

  <div>
    <mat-form-field appearance="outline">
      <mat-label>تاریخ</mat-label>
      <input type="text" formControlName="..." matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>شماره</mat-label>
      <input type="text" formControlName="..." matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>نام مشتری</mat-label>
      <input type="text" formControlName="..." matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>شماره تلفن</mat-label>
      <input type="text" formControlName="..." matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>شهر</mat-label>
      <input type="text" formControlName="..." matInput>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="outline">
      <mat-label>ردیف</mat-label>
      <input type="number" formControlName="..." matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>نام کالا</mat-label>
      <input type="text" formControlName="..." matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>تعداد</mat-label>
      <input type="number" formControlName="..." matInput>
    </mat-form-field> <mat-form-field appearance="outline" class="address">
      <mat-label>واحد</mat-label>
      <input type="text" formControlName="..." matInput>
    </mat-form-field>
    <mat-form-field appearance="outline" class="address">
      <mat-label>توضیحات</mat-label>
      <input type="text" formControlName="...." matInput>
    </mat-form-field>
  </div>

  <div>
    <button (click)="customer()" [disabled]="customerFg.invalid" mat-raised-button color="primary">دخیره</button>
    <mat-error>{{globError}}</mat-error>
  </div>
</form> -->
