<form [formGroup]="ordersFg">
  <h1>ثبت سفارش</h1>

  <div>
    <p formControlName="dateCtrl">تاریخ : {{todayDate | date:'shortDate'}}</p>
    <p formControlName="numberCtrl">شماره سفارش : {{counter}}</p>
  </div>

  <div class="custom">
    <!-- <mat-form-field>
      <mat-label>Select me</mat-label>
      <mat-select>
        <mat-option *ngFor="let customers of customers" value="option">

          <p> نام مشتری : {{customers.name}}</p>
        </mat-option>
          <mat-option ><p>شماره همراه : {{customers.mobilePhone}} </p></mat-option>>
          <p>شهر : {{customers.city}}</p>



      </mat-select>
    </mat-form-field> -->


    <mat-form-field>
      <mat-label>نام مشتری</mat-label>
      <mat-select>
        <mat-option *ngFor="let customers of customers" value="option"><span>نام مشتری : {{customers.name}}</span> <span> - شماره تلفن : {{customers.mobilePhone}}</span> <span>- شهر : {{customers.city}}</span> </mat-option>
      </mat-select>
    </mat-form-field>


  </div>


  <!--  -->
          <!-- {{customers.city}} -->

  <mat-form-field appearance="outline">
    <mat-label>ردیف</mat-label>
    <input type="number" formControlName="rowCtrl" matInput>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>نام کالا</mat-label>
    <input type="text" formControlName="productCtrl" matInput>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>تعداد</mat-label>
    <input type="number" formControlName="productNumbeCtrlr" matInput>
  </mat-form-field> <mat-form-field appearance="outline" class="address">
    <mat-label>واحد</mat-label>
    <input type="text" formControlName="unitCtrl" matInput>
  </mat-form-field>
  <mat-form-field appearance="outline" class="address">
    <mat-label>توضیحات</mat-label>
    <input type="text" formControlName="descriptionCtrl" matInput>
  </mat-form-field>

  <button (click)="increment()" (click)="orders()" [disabled]="ordersFg.invalid" mat-raised-button
    color="primary">دخیره</button>
</form>


<!-- <div>
    <table>
      <thead>
        <th>ردیف</th>
        <th>نام کالا</th>
        <th>تعداد</th>
        <th>واحد</th>
        <th>توضیحات</th>
      </thead>
      <tbody formArrayName="Rows">
        <tr *ngFor="let itemrow of invoiceForm.controls.Rows.controls; let i=index;let l=last"
          [formGroupName]="i">
          <td>{{i+1}}</td>
          <td>
            <input formControlName="productCtrl" class="form-control">
          </td>
          <td>
            <input formControlName="productNumbeCtrlr" class="form-control">
          </td>
          <td>
            <input formControlName="unitCtrl" class="form-control">
          </td>
          <td>
            <input formControlName="descriptionCtrl" class="form-control">
          </td>
          <td>
            <button *ngIf="invoiceForm.controls.Rows.controls.length > 1" (click)="deleteRow(i)" class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <button type="button" (click)="addNewRow()" class="btn btn-primary">Add new Row</button>
  </div>

  <div>

    <mat-error>{{globError}}</mat-error>
  </div> -->
