<div>
  <section>

    <mat-card routerLink="#" class="add-customer-card">
      <img mat-card-image src="../../../assets/images/order.gif" alt="Photo of a add-customer">
      <mat-card-actions>
        <h3>ثبت سفارشات</h3>
      </mat-card-actions>
    </mat-card>
    <mat-card routerLink="/customersList" class="add-customer-card">
      <img mat-card-image src="../../../assets/images/customer.gif" alt="Photo of a add-customer">
      <mat-card-actions>
        <h3>لیست مشتریان</h3>
      </mat-card-actions>
    </mat-card>
    <mat-card routerLink="/customers" class="add-customer-card">
      <img mat-card-image src="../../../assets/images/customer.gif" alt="Photo of a add-customer">
      <mat-card-actions>
        <h3>ثبت مشتری</h3>
      </mat-card-actions>
    </mat-card>
    <mat-card routerLink="/register" class="add-customer-card">
      <img mat-card-image src="../../../assets/images/register.gif" alt="Photo of a add-customer">
      <mat-card-actions>
        <h3>ثبت نام کاربر</h3>
      </mat-card-actions>
    </mat-card>
  </section>

  <section>
    <mat-card routerLink="#" class="add-customer-card">
      <img mat-card-image src="../../../assets/images/tiket.gif" alt="Photo of a add-customer">
      <mat-card-actions>
        <h3>تیکت</h3>
      </mat-card-actions>
    </mat-card>

    <mat-card routerLink="#" class="add-customer-card">
      <img mat-card-image src="../../../assets/images/customer.gif" alt="Photo of a add-customer">
      <mat-card-actions>
        <h3>ثبت مشتری</h3>
      </mat-card-actions>
    </mat-card>

    <mat-card routerLink="#" class="add-customer-card">
      <img mat-card-image src="../../../assets/images/customer.gif" alt="Photo of a add-customer">
      <mat-card-actions>
        <h3>ثبت مشتری</h3>
      </mat-card-actions>
    </mat-card>

    <mat-card routerLink="#" class="add-customer-card">
      <img mat-card-image src="../../../assets/images/register.gif" alt="Photo of a add-customer">
      <mat-card-actions>
        <h3>ثبت مشتری</h3>
      </mat-card-actions>
    </mat-card>
  </section>
</div>
