@font-face {
  font-family: b-nazanin;
  src: url(/../assets/fonts/B-NAZANIN.TTF);
}

div {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 8rem);
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;

  section {
    display: flex;
    flex-direction: row;
  }

  .add-customer-card {
    margin: 2rem;
    display: flex;
    max-width: 140px;
    max-height: 150px;
    cursor: pointer;

    img {
      background-color: white;
      // position: absolute;
      // border: none;
    }

    mat-card-actions {
      justify-content: center;
    }

    h3 {
      font-family: 'b-nazanin';
      font-weight: bold;
      font-size: 16pt;
    }
  }
}
