div {
  height: calc(100vh - 8rem);
  overflow: auto;

  .section1{
    position: fixed;
    width: 100%;
    background: white;
    display: flex;
    padding-top: 1rem;
    padding-left: 2rem;
    gap: 50rem;
  }

  .section2{
    padding-top: 7rem;
     
  table {
    border-collapse: collapse;
    width: 100%;
   
    th,
    td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
      text-align: center;

      } 
    }
  }
}
