.section1 {
  display: flex;
  padding-top: 1rem;
  gap: 55rem;
  justify-content: center;
}

.section2 {
  overflow: auto;
  height: calc(100vh - 13.9rem);

  table {
    border-collapse: collapse;
    width: 100%;

    th,
    td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
      text-align: center;

    }
  }
}
