<h1>
  <span>لیست مشتریان</span>
</h1>

<section class="section1">
  <mat-form-field appearance="fill">
    <mat-label>جست و جو</mat-label>
    <input matInput />
    <mat-icon matPrefix>search</mat-icon>
  </mat-form-field>

  <button routerLink="/customers" mat-raised-button color="accent">مشتری جدید</button>
</section>

<section class="section2">
  <table>
    <tr>
      <th>حذف</th>
      <th>اصلاح</th>
      <th>موبایل</th>
      <th>شهر</th>
      <th>نام</th>
    </tr>
    <tr *ngFor="let customersList of allCustomer$ | async">
      <td><button (click)="deleteCustomer(customersList.mobilePhone)">حذف</button></td>
      <td><button>اصلاح</button></td>
      <td>{{customersList.mobilePhone}}</td>
      <td>{{customersList.city}}</td>
      <td>{{customersList.name}}</td>
    </tr>
  </table>
</section>