@font-face {
  font-family: b-nazanin;
  src: url(/../assets/fonts/B-NAZANIN.TTF);
}

mat-toolbar{
  background: #7f00ff;
  display: flex;
  justify-content: flex-end;
  gap: 20rem;
  padding-right: 10rem;

  span{
    direction: rtl;
    font-family: b-nazanin;
    font-weight: bold;
    font-size: 16pt;
  }
}
