form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

form :nth-child(2){
  input {
    direction: rtl;
  }
}

form :nth-child(3){
  input {
    direction: rtl;
  }
}

form :nth-child(7){
  input {
    direction: rtl;
  }
}
