@font-face {
  font-family: b-nazanin;
  src: url(/../assets/fonts/B-NAZANIN.TTF);
}

form {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 8rem);

  h1 {
    margin-top: 0.4rem;
    display: flex;
    flex-direction: row-reverse;
    background-image: url("../../../assets/images/path.gif");
    background-repeat: no-repeat;
    color: white;

    span {
      margin: 1rem;
      margin-right: 2rem;
      font-family: b-nazanin;
      font-size: 21pt;
      font-weight: bold;
    }
  }

  div {
    margin-right: 10rem;
    display: flex;
    flex-direction: row-reverse;
    gap: 2rem;
  }

  mat-form-field {
    min-width: 16rem;
  }

  .address {
    min-width: 34rem;
  }

  input {
    direction: rtl;

  }

  mat-label {
    float: right;
    font-family: b-nazanin;
    color: black;
    font-family: 14pt;
  }

  button {
    font-family: b-nazanin;
    font-family: 14pt;
  }
}
