@font-face {
  font-family: b-nazanin;
  src: url(/../assets/fonts/B-NAZANIN.TTF);
}

@font-face {
  font-family: b-titr;
  src: url(/../assets/fonts/B-Titr.ttf);
}

div {
  display: flex;
  justify-content: space-evenly;
  height: calc(100vh - 8rem);

  .section-1 {
    font-size: 5rem;
    background: #7f00ff;
    flex-grow: 1;
    text-align: center;

    p{
      margin-top: 2rem;
      font-family: b-titr;
      font-size: 25pt;
      color: white;
    }

    img {
      margin-top: 2rem;
    }
  }

  .section-2 {
    margin-top: 5rem;
    flex-grow: 1;

    h2 {
      font-family: 'b-nazanin';
      font-weight: bold;
      font-size: 14pt;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 2rem;
      gap: 1rem;

      :nth-child(4) {
        background: #7f00ff;
        font-family: b-nazanin;
        font-size: 14pt;
        color: white;
      }

      mat-form-field {
        min-width: 16rem;

        mat-label {
          font-family: 'b-nazanin';
          color: black;
          font-size: 14pt;
        }
      }
    }
  }
}
