@font-face {
  font-family: b-nazanin;
  src: url(/../assets/fonts/B-NAZANIN.TTF);
}

mat-toolbar {
  display: flex;
  background: #7f00ff;

  .section2{
    direction: rtl;
    flex-grow: 1;
  }

  button{
    font-family: 'b-nazanin';
    font-size: 16pt;
    color: white;
    font-weight: bold;
  }
}
